# Dependencies
node_modules/

# Playwright reports and results
playwright-report/
test-results/
screenshots/
blob-report/
trace.zip

# Allure results and reports
allure-results/
allure-report/

# Logs and debug output
logs/

# Playwright internal browser cache
.playwright/
.pnpm-store/
.npm/
.yarn/

# Miscellaneous
misc/